# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
*.env
*.venv
# PyCharm specific files
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Other files
*.sqlite3

*.xml